#he {color: rgb(11, 106, 190);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
opacity: 1.;
font-size:40px;
text-align: center;
background-color: rgb(9, 6, 81);
}
#r{color: green;
    font-size: 20px;
}
#e{font-size: x-large;
color: black;
text-align: center;
}
